<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <div th:insert="fragments/base :: assetsHead"></div>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container mt-5">
        <h2>Product Catalog</h2>
        
        <table class="table table-striped">

            <thead>
                <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Price</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.brand}"></td>
                <td th:text="${product.category}"></td>
                <td th:text="${product.price}"></td>
                </tr>
            </tbody>
        </table>
    </div>

<div th:insert="fragments/base :: assetsScripts"></div>
</body>
</html>